extends partial/layout

block site_title
    != page.category + " · " + config.title

block description
    - var desc = __("Categories") + ' · ' + page.category + ' - ' + config.title;
    meta(name="description", content=desc)

block content
  .autopagerize_page_element: .content
    .archive
      ul.list-with-title
        li
          h3= __("Categories") + ' · ' + page.category
        include mixins
        +postList()
        +make_pager(__('prev'), __('next'))
