extends partial/layout
block content
  .autopagerize_page_element: .content
    include mixins
    each item in page.posts.data
      +make_post(item, false)
    if site.posts.length > config.index_generator.per_page && ( config.per_page != 0 || config.index_generator.per_page != 0 )
      +make_pager(__('prev'), __('next'))
