extends partial/layout

block site_title
    !=  __("Tags") + " 路 " + page.tag + " 路 " + config.title

block description
    - var desc = __("Tags") + " 路 " + page.tag + ' - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
        .archive
            ul.list-with-title
                li
                    h3= __("Tags") + " 路 " + page.tag
                include mixins
                +postList()
                +make_pager(__('prev'), __('next'))
