doctype
html(lang="zh-CN")
  head
    include head

  body
    main-outlet
      include nav
      include sidebar
      .main.animated.fadeInDown
        block content
    if theme.rightbtn.search
      include search