.page-top.animated
  .nav
    each link, menu_name in theme.menu
      li
        if is_current(link)
          a.current(href=url_for(link))= __(menu_name)
        else
          a(href=url_for(link))= __(menu_name)

  .information
    .nav_right_btn
      if theme.rightbtn.back || theme.rightbtn.search || theme.rightbtn.darkLightToggle
        li.btn-toggle-more
          i.fa.fa-ellipsis
      if theme.rightbtn.back
        if is_post()
          li.btn-go-back
            a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
      if theme.rightbtn.search
        li.btn-search
          a.fa.fa-search(onclick="Anatolo.search.openWindow();")
      if theme.rightbtn.darkLightToggle
        li.btn-toggle-theme
          a.far.fa-sun(onclick="Anatolo.darkLightToggle();")
    .avatar
      if theme.rightbtn.avatar
        img(src=url_for(theme.avatar))
