.ins-section-container
	position: relative
	background: var(--primary-50)

.ins-section
	font-size: 14px
	line-height: 16px

	.ins-section-header, .ins-search-item
		padding: 8px 15px

	.ins-section-header
		color: var(--primary-400)
		border-bottom: 1px solid var(--primary-100)

	.ins-slug
		margin-left: 5px
		color: var(--primary-400)

		&:before
			content: '('

		&:after
			content: ')'

	.ins-search-item
		&:hover, &.active
			color: var(--secondary)
			background: #3273dc

			.ins-slug, .ins-search-preview
				color: var(--secondary)

		header, .ins-search-preview
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis

		.ins-search-preview
			height: 15px
			font-size: 9px
			color: var(--primary-400)
			margin: 5px 0 0 20px

	& header .ins-title
		margin-left: 8px
