cssrgba(color, opacity)
    s("rgba(%s, %s)", color, opacity)

@charset 'UTF-8'site-border = 1px solid var(--primary-100);

html {
    -webkit-font-smoothing: antialiased;
    // transition: all 0.2s ease-out;
}

html[id='theme-dark-mode'] {
    // filter: invert(1) hue-rotate(180deg);
}

html[id='theme-dark-mode'] img {
    // filter: invert(1) hue-rotate(180deg);
}

body {
    color: var(--primary-high)
    font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
    font-size: 15px;
    width: 100%;
    margin: 0 auto 30px auto;
    background-color: var(--secondary);
    transition: background-color 0.8s, color 0.8s;
}

p {
    line-height: 1.9em;
    font-weight: 400;
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    opacity: 1;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    transition: all 0.15s linear;
    color: var(--secondary-300);
}

a:hover, a:active {
    color: #4786D6;
}

/* basic styles ends */
/* animation starts */
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.animated.hinge {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}



.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    -o-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}


/* animation ends */
.content {
    height: auto;
    float: right;
    width: 70%;
    margin-top: 60px;
}

.page-top {
    width: 70%;
    position: fixed;
    right: 0;
    z-index: 3;
    transition: background-color 0.8s, border 0.8s;
    background-color: var(--secondary);
    height: 60px;
    border-bottom: site-border;

    .nav {
        list-style: none;
        padding: 18px 30px;
        float: left;
        font-size: 14px;

        li {
            position: relative;
            display: initial;
            padding-right: 20px;
        }

        a {
            color: var(--secondary-350);
        }

        a:hover {
            color: #4786D6;
        }

        a.current {
            color: var(--secondary-350);
            padding-bottom: 20px;
            border-bottom: 2px solid #4786D6;
        }
    }

    .information {
        float: right;
        padding-top: 12px;
        padding-right: 20px;

        .avatar {
            float: right;

            img {
                width: 32px;
                height: 32px;
                border-radius: 300px;
            }
        }

        .nav_right_btn {
            float: left;
            padding-top: 5px;
            margin-right: 0px;

            li {
                display: initial;
                padding-right: 30px;
            }
        }
    }
}

.sidebar {
    width: 30%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: var(--secondary);
    height: 100%;
    transition: all 0.8s;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
    border-right: site-border;

    .logo-title {
        text-align: center;
        margin-top: -50px;

        .description {
            font-size: 14px;
            color: var(--secondary-350);
        }

        .logo {
            margin: 0 auto;
        }

        .title {
            h3 {
                text-transform: none;
                font-size: 2rem;
                font-weight: bold;
                letter-spacing: 2px;
                line-height: 1;
                margin: 0;
            }

            a {
                text-decoration: none;
                color: var(--secondary-350);
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }

    .social-links {
        list-style: none;
        padding: 0;
        font-size: 14px;
        text-align: center;

        i {
            margin-right: 3px;
        }

        li {
            display: inline;
            padding: 0 4px;
            line-height: 0;
        }

        a {
            color: var(--secondary-350);
        }

        a:hover {
            color: #4786D6;
        }
    }
}

.sidebar-top {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .ltr {
        text-align: center;
    }
}

.card {
    margin-left: 5px;
}

.post {
    transition: background-color 0.8s;
    background-color: var(--secondary);
    margin: 30px;

    .post-title {
        h1 {
            text-transform: none;
            font-size: 30px;
            letter-spacing: 5px;
            line-height: 1;
        }

        h2 {
            text-transform: none;
            letter-spacing: 1px;
            font-size: 28px;
            line-height: 1;
            font-weight: 600;
            color: var(--secondary-350);
        }

        h3 {
            text-transform: none;
            letter-spacing: 1px;
            line-height: 1;
            font-weight: 600;
            color: var(--primary-high);
            font-size: 22px;
            margin: 0;
        }

        a {
            text-decoration: none;
            letter-spacing: 1px;
            color: var(--secondary-350);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .post-content {
        a {
            text-decoration: none;
            letter-spacing: 1px;
            color: #4786D6;
        }

        a:hover {
            color: #2F69B3;
        }

        h1 {
            color: var(--secondary-350);
            font-size: 22px;
            font-weight: 600;
        }

        h2 {
            color: var(--secondary-350);
            font-size: 20px;
        }

        h3 {
            color: var(--secondary-350);
            font-size: 18px;
            font-weight: 600;
        }

        h4 {
            color: var(--secondary-350);
            font-size: 17px;
        }

        h5 {
            color: var(--secondary-350);
            font-size: 16px;
            font-weight: 600;
        }

        h6 {
            color: var(--secondary-350);
            font-size: 15px;
        }
    }

    .post-footer {
        padding: 0 0 30px 0;
        border-bottom: site-border;
        transition: border 0.8s;
        .meta {
            post-footer-color = var(--primary-low-mid);
            max-width: 100%;
            height: 25px;
            color: post-footer-color;

            .info {
                float: left;
                font-size: 12px;

                .date {
                    margin-right: 10px;
                }
            }

            a {
                text-decoration: none;
                color: post-footer-color;
                padding-right: 10px;

                &:hover {
                    color: #4786D6;
                }
            }

            i {
                margin-right: 6px;
            }
        }

        .tags {
            padding-bottom: 15px;
            font-size: 13px;

            ul {
                list-style-type: none;
                display: inline;
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    margin: 0;
                    padding-right: 5px;
                    display: inline;
                }
            }

            a {
                text-decoration: none;
                color: cssrgba(var(--primary-rgb), 0.44);
                font-weight: 400;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.pagination {
    margin: 30px;
    padding: 0px 0 56px 0;
    border-bottom: site-border;
    transition: border 0.8s;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 13px;

        li {
            margin: 0 2px 0 2px;
            display: inline;
            line-height: 1;

            a {
                text-decoration: none;
            }
        }
    }

    .pre {
        float: left;
    }

    .next {
        float: right;
    }
}

.like-reblog-buttons {
    float: right;
}

.like-button {
    float: right;
    padding: 0 0 0 10px;
}

.reblog-button {
    float: right;
    padding: 0;
}

#install-btn {
    position: fixed;
    bottom: 0px;
    right: 6px;
}

#disqus_thread {
    margin: 30px;
    border-bottom: site-border;
}

.footer {
    clear: both;
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 5px;
    background-color: var(--secondary);
    transition: background-color 0.8s;

    a {
        color: var(--secondary-650);
    }

    a:hover {
        color: #4786D6;
    }

    span {
    }

    .by_farbox {
    }
}

/* for archive */
.archive {
    width: 100%;
}

.list-with-title {
    font-size: 15px;
    margin: 30px;
    padding: 0;
    line-height: 25px;

    li {
        list-style-type: none;
        padding: 0;
    }

    .listing-title {
        font-size: 24px;
        color: var(--secondary-400);
        font-weight: 600;
        line-height: 2.2em;
    }

    .listing {
        padding: 0;

        .listing-post {
            padding-bottom: 5px;

            display: flex;

            .post-time {
                flex: 0 0 50px;
                float: right;
                color: var(--secondary-800);
                transition: color 0.8s;
            }

            a {
                flex: 1 1 100%;
                color: var(--secondary-550);

                &:hover {
                    color: #4786D6;
                }
            }
        }
    }
}

/* share */
.share {
    margin: 0px 30px;
    display: inline-flex;
}

.evernote {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: var(--secondary-250);
    margin-right: 5px;

    a {
        color: var(--secondary);
        padding: 11px;
        font-size: 12px;
    }

    a:hover {
        color: #ED6243;
        padding: 11px;
    }
}

.weibo {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: #ED6243;
    margin-right: 5px;

    a {
        color: var(--secondary);
        padding: 9px;
    }

    a:hover {
        color: #BD4226;
    }
}

.twitter {
    width: 32px;
    height: 32px;
    border-radius: 300px;
    background-color: #59C0FD;
    margin-right: 5px;

    a {
        color: var(--secondary);
        padding: 9px;
    }

    a:hover {
        color: #4B9ECE;
    }
}

/* about */
.about {
    margin: 30px;

    h3 {
        font-size: 22px;
    }
}

/* links */
.links {
    margin: 30px;

    h3 {
        font-size: 22px;
    }

    a {
        cursor: pointer;
    }
}

/* Comment style */
.comment-count {
    color: var(--secondary-400);
}

.tab-community {
    color: var(--secondary-400);
}

.read_more {
    font-size: 14px;
}

.back-button {
    padding-top: 30px;
    max-width: 100px;
    padding-left: 40px;
    float: left;
}

/* 默认评论样式 */
#fb_comments_container {
    margin: 30px;
}

/* button style */
a.btn {
    color: var(--secondary-550);
    font-weight: 400;
}

.btn {
    display: inline-block;
    position: relative;
    outline: 0;
    color: var(--primary-450);
    background: transparent;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--primary-150);
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em;
    transition: color 0.8s, border 0.8s;
}

.btn:hover {
    display: inline-block;
    position: relative;
    outline: 0px;
    color: var(--primary-650);
    background: transparent;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--secondary-250);
    white-space: nowrap;
    font-weight: 400;
    font-style: normal;
    border-radius: 999em;
}

[role='back'] {
    padding: 0.5em 1.25em;
    line-height: 1.666em;
}

[role='home'] {
    padding: 0.5em 1.25em;
    line-height: 1.666em;
}

[role='navigation'] {
    padding: 0.5em 1.25em;
    line-height: 1.666em;
}

[role='tags'] {
    padding: 6px 12px;
}

/* Menu样式 */
.menu {
    float: right;
    padding-top: 30px;

    .btn-down {
        margin: 0px;

        li {
            list-style: none;
            width: 100px;

            a {
                display: inline-block;
                position: relative;
                padding: 0.5em 1.25em;
                outline: 0;
                color: cssrgba(var(--primary-rgb), 0.44);
                background: cssrgba(var(--primary-rgb), 0);
                font-size: 14px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                border: 1px solid cssrgba(var(--primary-rgb), 0.15);
                white-space: nowrap;
                font-weight: 400;
                font-style: normal;
                border-radius: 999em;
                margin-top: 5px;

                &:hover {
                    position: relative;
                    padding: 0.5em 1.25em;
                    outline: 0;
                    color: var(--secondary);
                    background: #3CBD10;
                    font-size: 14px;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    border: 1px solid cssrgba(var(--primary-rgb), 0.15);
                    white-space: nowrap;
                    font-weight: 400;
                    font-style: normal;
                    border-radius: 999em;
                    margin-top: 5px;
                }
            }
        }
    }

    .btn-down div {
        position: absolute;
        visibility: hidden;
        width: 100px;
        float: right;
    }
}

.page_404 {
    text-align: center;
    padding-top: 50px;
}

/* Tag style */
.tag_btn {
    align-items: center;
    border-radius: 100px;
    color: var(--secondary-250);
    display: inline-flex;
    // font-size: 0.9rem;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0em;
    white-space: nowrap;
    margin: 10px;
    // border: 1px solid var(--primary-low);
    // background-color: var(--secondary-850);
    i {
        margin: 8px;
    }
    .tag_count {
        align-items: center;
        border-radius: 100px;
        color: var(--secondary-250);
        display: inline-flex;
        font-size: 0.5rem;
        width 15px;
        height: 15px;
        justify-content: center;
        line-height: 1.5;
        padding: 5px;
        margin: 5px;
        white-space: nowrap;
        background-color: var(--secondary-900);
        transition: background-color 0.8s;
    }
}

/* TOC style */
.tocmenu {
    align-items: center;
    border-top: 1px solid var(--primary-100);
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    position: relative;
}

.toclist-container
    overflow-y: auto;
    max-height: calc(100vh - 600px);
    &::-webkit-scrollbar-thumb
        color: #4786d6;
        background-color: #4786d6;
    &::-webkit-scrollbar
        width: 2px;
        color: #4786d6;
        height: auto;

.toclist {
    /* width: max-content; */
    border-top: none;
    padding: 0px 30px;
    display: inline-block;
    text-align: left;
}


.in-page.toc-container {
    display: none;
}

@media screen and (max-width: 960px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
        z-index: 1;
        top: auto;

        .logo-title {
            padding-top: 120px;
            margin-top: 0;

            .title {
                img {
                    width: 100px;
                }

                h3 {
                    font-size: 20px;
                }
            }
        }
    }

    .page-top {
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        .information {
            transition: background-color 0.8s;
            background-color: var(--secondary);
            position: absolute;
            right: 0;

            .nav_right_btn {
                display: none;
            }
        }

        .information:hover {
            .nav_right_btn {
                display: block;
            }
        }
    }

    .page-top::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 2px;
    }

    .post-title h3 {
        line-height: 1.6;
    }

    .content {
        margin-top: 0px;
        top: auto;
        width: 100%;
        z-index: 2;
        /* position: absolute; */
    }

    .footer {
        display: none;
    }

    .share {
        display: grid;
    }

    .tocmenu {
        border-bottom: 1px solid var(--primary-100);
        position: relative;
        text-align: left;
    }

    .toc-mobile {
        .toc-button {
            position: fixed
            z-index: 900
            background: #4786d6
            color: var(--secondary)
            padding: 8px 15px;
            bottom 0
            right: 0
        }
        &:hover {
            .in-page.toc-container{
                right 0
            }
        }
    }
    .toclist-container {
        height: auto;
        max-height: calc(100vh - 110px);
    }

    .in-sidebar.toc-container {
        display: none;
    }
    .in-page.toc-container {
        display: block;
        border-left: 1px solid v3r(--primary-100);
        position: fixed;
        bottom: 0px;
        right: -300px;
        width: 300px;
        transition: all 0.4s;
        background-color: var(--secondary);
        z-index: 999;
        .toc-toggle summary {
            background: #4786d6;
            transition: color 0.8s;
            color: var(--secondary);
            padding: 5px 10px;
        } 
        .toc-toggle[open] summary {
            color: #4786d6;
            transition: background-color 0.8s;
            background: var(--secondary);
            padding: 4px;
            text-align: center;
        }
    }
}


.friend-links-list {
    display: flex;
    flex-wrap: wrap;
    .friend-link-container {
        width: 350px;
        margin: 10px;
        padding: 10px;
        border: 1px solid var(--primary-100);
        border-radius: 10px;
        display: grid;
        grid-template: auto / 84px auto;
    }
    .friend-link-meta {
        padding: 10px;
    }
    .friend-link-title {
        font-weight: 700;
    }
    .friend-link-avatar {
        width: 64px;
        margin-right: 10px;
    }
    .friend-link-avatar img{
        width: 64px;
    }
}
