.searchbox .searchbox-selectable {
  cursor: pointer;
}

.searchbox .searchbox-input-wrapper {
  position: relative;
}

.searchbox .searchbox-input-wrapper .searchbox-input {
  color: var(--primary);
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: none;
  font-weight: 200;
  border-radius: 0;
  background: var(--secondary);
  line-height: 20px;
  box-sizing: border-box;
  padding: 12px 28px 12px 20px;
  border-bottom: 1px solid var(--primary-100);
}

.searchbox .searchbox-input-wrapper .searchbox-close {
  top: 50%;
  right: 6px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  display: inline-block;
}

.searchbox .searchbox-input-wrapper .searchbox-close:hover {
  color: #3273dc;
}

.searchbox .searchbox-result-wrapper {
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  overflow-y: auto;
  position: absolute;
}

.searchbox .searchbox-container {
  top: 100px;
  width: 540px;
  bottom: 100px;
  margin-left: -270px;
  box-sizing: border-box;
}

@media screen and (max-width: 559px), screen and (max-height: 479px) {
  .searchbox .searchbox-container {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-50);
  }
}

.ins-section-container {
  position: relative;
  background: var(--primary-50);
}

.ins-section {
  font-size: 14px;
  line-height: 16px;

  .ins-section-header,
  .ins-search-item {
    padding: 8px 15px;
  }

  .ins-section-header {
    color: var(--primary-400);
    border-bottom: 1px solid var(--primary-100);
  }

  .ins-slug {
    margin-left: 5px;
    color: var(--primary-400);

    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }

  .ins-search-item {
    &:hover,
    &.active {
      color: var(--secondary);
      background: #3273dc;

      .ins-slug,
      .ins-search-preview {
        color: var(--secondary);
      }
    }

    header,
    .ins-search-preview {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ins-search-preview {
      height: 15px;
      font-size: 9px;
      color: var(--primary-400);
      margin: 5px 0 0 20px;
    }
  }

  & header .ins-title {
    margin-left: 8px;
  }
}
