script
  != '(async function(){ if (Anatolo.search == null) await Anatolo.getMsg("search-init"); Anatolo.search.config = {translation:{posts:"' + __("insight.posts") + '",pages:"' + __("insight.pages") + '",categories:"' + __("insight.categories") + '",tags:"' + __("insight.tags") + '",untitled:"' + __("insight.untitled") + '",} }; })()'
.searchbox.ins-search.modal-cover
  .searchbox-container.ins-search-container.modal-container
    .searchbox-input-wrapper
      input.searchbox-input.ins-search-input(type="text", placeholder=__("insight.hint"))
      span.searchbox-close
        a.fa.fa-times-circle(onclick="Anatolo.search.closeWindow();")
    .searchbox-result-wrapper.ins-section-wrapper
      .ins-section-container
        p Seraching...
